body{
background-image: url(images/forest.jpg);
background-color: white;
font-family: Georgia, 'Times New Roman', Times, serif;
margin:0;
}
header{
  background-color: rgba(21, 197, 5, 0.801);
}

.banner{
  max-width: 960px;
  margin: 0 auto;
  padding: 30px;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}
#logo{
  float:left;
    width:100px;
     height:100px;
}
.forma{
  background-color: rgba(22, 231, 3, 0.404);
    margin: 0 auto;
     margin-top:20px;
      padding:10px;
}
footer{
  width:100%;
  background-color: rgba(21, 197, 5, 0.801);
  padding: 10px;
  margin-top:20px;
  height:80px;
  position: fixed;
  bottom: 0px;

}
